@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
  min-width: 400px;
}

.register {
  min-width: 400px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  background-color: rgb(223, 255, 224);
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: #000;
  color: #fff;
}

.pagination li.active a {
  background-color: #000;
  color: #fff;
}

.pagination li.disabled a {
  background-color: #ccc;
  color: #fff;
}

.pagination li a:focus {
  outline: none;
}

.pagination li a:link {
  outline: none;
}

.pagination li a:active {
  outline: none;
}

.pagination li a:visited {
  outline: none;
}

.pagination li.active a:hover {
  background-color: #000;
  color: #fff;
}

.pagination li.disabled a:hover {
  background-color: #ccc;
  color: #fff;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-shadow-left {
  display: none;
}

.swiper-slide-shadow-right {
  display: none;
}

.describe {
  width: 60%;
  margin: 1rem 0 1rem auto;
}
